.main-product {
  display: flex;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-top: 50px;
  height: auto;
}
.detail-product-img {
  width: 350px;
  height: 400px;
  margin-top: 85px;
  margin-right: 20px;
}
.product-detail {
  padding: 20px;
  width: 600px;
  height: 480px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.icons {
  height: 80px;
  padding: 2px;
  margin: 2px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.count-value {
  width: 65px;
  top: -7px;
  left: 34px;
  position: relative;
}
.review-left{
  margin-top: 145px;
  margin-left:100px;
  font-size: 20px;
}
.review-right{
  margin-top: 145px;
  margin-left:100px;
  font-size: 16px;
  margin-right: 120px;
}
.review-outer{
display: flex;
}