.main-product{
    display: flex;
    margin:auto;
    width: 60%;
    padding: 10px;
    margin-top: 150px;
}
.product-img{
    width: 350px;
    height: 400px;
}
.product-detail{
    padding: 20px;
    width: 600px;
    height: 800px;
}
.btns{
    display: flex;
    justify-content:space-evenly;
}
.icons{
    height: 80px;
    padding: 2px;
    margin: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}