.logout-outer {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #a0c7e5;
  width: 400px;
  height: 300px;
  margin-left: 500px;
  padding-top: 100px;
}
.my-button{
  display: flex;
  justify-content: space-evenly;
margin-top: 50px;
}
.cancel-btn{
  margin-left: 30px;
  width: 100px;
}
.ok-btn{
  margin-right: 30px;
  width: 100px;
}