.qty{
    margin-top: 80px;
}
.inner-order-left {
    /* border:1px solid grey; */
  background-color: #a0c7e5;
    width: 90%;
    height: 280px;
    padding: 10px;
}
.order-img {
    width: 260px;
    height: 245px;
    object-fit: contain;
}
.order-details{
    display: flex;
    justify-content: space-around;
}
.pg{
    color: black;
    margin-top: 56px;
  }
  b{
    color: black;
  }
  .name-detail p{
    font-size: 16px;
  }
  .order-Header {
display: flex;
justify-content: space-around;
width: 900px;
margin-left: 250px;
height:50px;
background-color: rgb(9, 89, 120);
color: white;
padding: 10px;
font-size: 20px;
margin-bottom: 20px;
  }

  .order-bottom{
    display: flex;
    justify-content:space-around;
    width: 900px;
    margin-left: 250px;
    height: 50px;
    background-color: rgb(9, 89, 120);
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: -30px;
  }

  .order{
width: 1000px;
margin-left: 250px;
margin-bottom: 30px;
margin-top: -25px;

  }
.your-order{
  text-align: center;
}