.head{
    color: green;
    padding: 5px;
}

.outer-success{
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 500px;
    width: 400px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}