.signup {
  height: 750px;
  margin-top: 0px;
  /* background-color: wheat; */
  /* border-top: 3px solid black; */
}
.signup-head {
  background-color: black;
  border: 2px solid black;
}

.signup-box {
  margin-top: 40px;
  width: 400px;
  height: 665px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: aliceblue;
}
.otp {
  position: relative;
  bottom: -120px;
}
.customer-outer,
.vendor-outer {
  display: flex;
}
.customer,
.vendor {
  width: 15px;
  margin: 5px;
}
span{
  color:red
}
.err{
  color: red;
}