.product-img {
  width: 220px;
  height: 230px;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-top: 0px;
  object-fit: contain;
}

.product-img:hover{
  margin-bottom: 0px;
  margin-left: 12px;
  width: 230px;
  height: 250px;
}
.myCard-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 247px;
  height: 194px;
  text-align: center;
  background-color: #a0c7e5;
  padding: 5px;
}
.myCard {
  border: 2px solid grey;
  width: 251px;
  height: 448px;
  border-radius: 5px;
}
.card-outer {
  width: fit-content;
  height: fit-content;
  margin: 10px 18px;
}
.main {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.myBtn {
  align-items: baseline;
}
.prod-btn {
  width: 247px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.count-value {
  width: 65px;
}
.btn-count {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.my-product-added {
  position: fixed;
  top: 5%;
  width: 35%;
  margin: auto;
  margin-left: 33%;
}
