.navimg {
  margin-left: 10px;
    margin-right: 10px;
    margin-top: -2px;
    margin-bottom: 7px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.navbar{
  height: 120px;
}
.navbar .navbar-nav .nav-link:active {
  color: red;
}

.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 20px;
  border-radius: 25px;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: rgb(9, 89, 120);
  color: white;
  border-radius: 20px;
}
.nav-item {
  padding: 0px 5px;
  font-size: 22px;
  margin-top: -20px;
}
.nav-login {
  position: absolute;
  font-size: 22px;
  right: 90px;
}
.nav-logout {
  position: absolute;
  font-size: 22px;
  right: 82px;
  top: 53px;
}

.navouter {
  margin-top: -28px;
    background-color: #a0c7e5;
    width: auto;
    height: 84px;

}
.cartimg {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 90px;
  cursor: pointer;
}
.item-count {
  position: absolute;
  right:30px;
  top: 26px;
  width: 10px;
}
.user-name {
  color: black;
  position: absolute;
  right: 285px;
  top: 59px;
}

.nav-left{
  margin-top: 12px;
} 
.nav-orders{
  position: absolute;
  font-size: 22px;
  right: 182px;
  top: 53px;

}
.log-out{
  background-color: #a0c7e5;
  border: none;
}