.navimg{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  width: 150px;
  height: 80px
}

.navbar .navbar-nav .nav-link:active {
  color: red;
  }

.navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
background-color: rgb(9, 89, 120);
color: white;
}
.nav-item{
  padding: 0px 5px;
  margin-top: -20px;
}
/* .nav-login{
  position: absolute;
  right: 10px;
  top:10px
} */
.navouter{
  background-color: #e3f2fd;
  width: auto;
  height:70px
}