.pro-img {
    margin-left: 30px;
    width: 165px;
    height: 250px;
  }
  
  .myCard-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 192px;
    text-align: center;
    background-color: #a0c7e5;
    padding: 5px;
    
  }
  .myCard {
    border: 2px solid grey;
    width: 250px;
    height: 448px;
  }
  .card-outer {
    width: 250px;
    height: 460px;
    /* margin:18px; */
  }
  .main {
    margin-top: 10px;
    /* margin: 20px; */
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .myBtn {
    align-items: baseline;
  }
  .prod-btn {
    width: 247px;
    background-color: white;
    border: none;
  }
  .count-value {
    width: 65px;
  }
  .btn-count {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  