.modalData {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modalContent {
    background-color: #fefefe;
    margin-top:5%; 
    margin-left:30%;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    transition: background-color .5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     animation:fadein 1s;
    border-radius: 10px;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .closeIcon {
  font-size: 28px;
    font-weight: bold;
  }
  .Modal-Header{
  
      border-bottom: solid;
      border-width: thin;
      border-color: rgb(148, 147, 148);
  }
  .Modal-Title{
      font-size: 30px;
  }
  
  .Modal-Body{
      border-bottom: solid;
      border-width: thin;
      border-color: rgb(148, 147, 148);
      padding: 20px;
  }
  .Modal-Footer{
      text-align: end;
      padding:10px
  }
  .btnClose{
      margin:10px;
      background-color: #888;
      border-radius: 3px;
      color: white;
      border-color: white;
      border-width: thin;
      padding-left:10px;
      padding-right:10px;
  }
  .btnProceed{
      margin:10px;
      background-color: #1d7eed;
      border-radius: 3px;
      color: white;
      border-color: white;
      border-width: thin;
      padding-left:10px;
      padding-right:10px;
  }