.details {
  display: flex;
  justify-content: space-between;
}
.outer-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-top: 50px;
  margin-left: 25px;
  height: auto;
  justify-content: space-between;
}
.count-value {
  width: 65px;
}
.inner-left {
  /* background-color: azure; */
  width: 70%;
  height: 370px;
  margin: 5px;
}
.inner-right {
  width: 20%;
  margin-top: 50px;
  /* background-color: azure; */
  /* text-align: center; */
  /* border: 2px solid gray; */
}
.continue-shopping {
  margin: 5px;
}
.cart-img {
  width: 260px;
  height: 200px;
}
.name-detail {
  width: 540px;
  height: 264px;
}
.price {
  width: 0px;
  height: 200px;
}
.photo{
  width: 330px;
}
.myBtn {
  margin: 2px;
}
.checkout{
  display: flex;
  margin-left: 100px;
}
.emptyCart{
  text-align: center;
}
.Shoping-cart{
  margin-left:600px ;
}
.paging{
  margin-left: 1050px;
}